HC_AUTH_CLIENT_ID=
HC_AUTH_CLIENT_SECRET=

HC_AUTH_REDIRECT_URI=http://localhost:3000/api/hc-auth/callback

SESSION_SECRET=

ALLOWED_EMAILS=you@example.com

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=
