HC_AUTH_CLIENT_ID=
HC_AUTH_CLIENT_SECRET=

HC_AUTH_REDIRECT_URI=http://localhost:3000/api/hc-auth/callback

SESSION_SECRET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=

# eg 12341,124124,124124
ADMIN_SLACK_IDS=

PII_ENCRYPTION_KEY=

ADMIN_HC_AUTH_CLIENT_ID=
ADMIN_HC_AUTH_CLIENT_SECRET=
ADMIN_HC_AUTH_REDIRECT_URI=
